/* @tailwind base; */
@tailwind utilities;

@import "tailwindcss";

/* Hide scrollbar for all browsers */
::WebkitScrollbar {
  display: none;
}

* {
  MsOverflowStyle: none;
  scrollbarWidth: none;
}